<form [formGroup] = "form" >
  <div class="form-group">
    <label>Old Password</label>
    <input type="text" formControlName = 'oldPassword' id = "oldPassword" class="form-control" > 
    <div *ngIf = "oldPassword.touched && oldPassword.invalid"  class="alert alert-danger" >
        <div *ngIf = "oldPassword.errors.required" >Old Password is required</div>
        <div *ngIf = "oldPassword.errors.minlength" >
          Old Password should be minimum {{ oldPassword.errors.minlength.requiredLength }} 
        </div>
        <div *ngIf = "oldPassword.errors.isInCorrectOldPassword" >Old Password is inCorrect</div>
    </div>
  </div>

  <div class="form-group">
      <label>New Password</label>
      <input type="text" formControlName = 'newPassword' id = "newPassword" class="form-control"> 
      <div *ngIf = "newPassword.touched && newPassword.invalid"  class="alert alert-danger" >
          <div *ngIf = "newPassword.errors.required" >New Password is required</div>
          <div *ngIf = "newPassword.errors.minlength" >
            New Password should be minimum {{ newPassword.errors.minlength.requiredLength }}
          </div>
      </div>
  </div>

  <div class="form-group">
        <label>Confirm Password</label>
        <input type="text" formControlName = 'confirmPassword' id = "confirmPassword" class="form-control" > 
        <div *ngIf = "confirmPassword.touched && confirmPassword.invalid"  class="alert alert-danger" >
            <div *ngIf = "confirmPassword.errors.required" >Confirm Password is required</div>
            <div *ngIf = "confirmPassword.errors.minlength" >Confirm Password should be minimum {{ confirmPassword.errors.minlength.requiredLength }} </div>
        </div>
  </div>
   <div *ngIf = "confirmPassword.touched && form.invalid && form.errors.passwordShoulMatch" class="alert alert-danger" >
     Password don`t match
   </div>
  <button [disabled] = "form.invalid" class="btn btn-primary"> Change Password </button>
</form>